$background-color: #e7f0f9;
$box-shadow: 6px 6px 12px #d2dae3, -6px -6px 12px #fcffff;
$box-shadow-inset: 6px 6px 12px #d2dae3, -6px -6px 12px #fcffff,
  inset 6px 6px 12px #d2dae3, inset -6px -6px 12px #fcffff;
$padding: 30px;

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: $background-color;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  color: #4a5568;
}

p {
  margin: 0px;
  padding: 0px;
}

.box {
  border-radius: 40px;
  background: $background-color;
  box-shadow: $box-shadow;
  padding: $padding;
  display: flex;
  flex-direction: column;
  border: solid 4px $background-color;
}

.token-type {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;

  input[type="checkbox"] {
    -webkit-appearance: none;
    height: 40px;
    width: 80px;
    box-shadow: $box-shadow-inset;
    border-radius: 40px;
    border: solid 3px $background-color;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
  }
  input[type="checkbox"]:before,
  input[type="checkbox"]:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle at 5px 5px, #81e6d9, #319795);
    transition: 0.3s;
  }
  input[type="checkbox"]:before {
    height: 22px;
    width: 22px;
    border-radius: 50px;
    left: 30px;
  }
  input[type="checkbox"]:checked:before {
    left: 60px;
    background: radial-gradient(circle at 5px 5px, #90cdf4, #3182ce);
  }
}

.checkbox-wallet {
  input[type="checkbox"] {
    height: 70px;
    width: 70px;
    -webkit-appearance: none;
    box-shadow: $box-shadow;
    border-radius: 50%;
    border: solid 4px $background-color;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #718096;
    font-size: 20px;
    content: "\f555";
  }
  input[type="checkbox"]:checked {
    box-shadow: $box-shadow-inset;
  }
  input[type="checkbox"]:checked:after {
    color: #48bb78;
  }
}

.radio-container {
  height: 85px;
  box-shadow: inset 6px 6px 12px #d2dae3, inset -6px -6px 12px #fcffff;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  label {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    box-shadow: 6px 6px 12px #d2dae3, -6px -6px 12px #fcffff;
    padding: 10px 20px;
  }
}

button {
  height: 60px;
  width: 60px;
  box-shadow: $box-shadow;
  border-radius: 25px;
  border: solid 4px $background-color;
  outline: none;
  background: $background-color;
  cursor: pointer;
  font-size: 15px;
  color: #4a5568;
}
button:focus,
button.active {
  box-shadow: inset 6px 6px 12px #d2dae3, inset -6px -6px 12px #fcffff;
}
button:hover:not(:focus) .icon {
  animation-name: buttonIcon;
  animation-duration: 0.3s;
}

@keyframes buttonIcon {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@mixin container {
  height: 80px;
  box-shadow: inset 6px 6px 12px #d2dae3, inset -6px -6px 12px #fcffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 30px;

  .img-container {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #d2dae3, -3px -3px 10px #fcffff;
    border: solid 4px $background-color;

    img {
      height: 60px;
      width: 60px;
    }
  }
}

.address-container {
  @include container;
  justify-content: left;
}

.small-box {
  border-radius: 40px;
  background: $background-color;
  box-shadow: $box-shadow;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 4px $background-color;
  width: 40%;

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    border: solid 4px $background-color;
    border-radius: 50px;
    box-shadow: $box-shadow;
    padding: 10px 12px;
    transition: 0.2s;
  }

  a.github {
    color: black;
  }

  a.contract {
    color: #38a169;
    padding: 10px 15px;
  }

  a.twitter {
    color: #1fa1f1;
  }

  a.telegram {
    color: #27a8e7;
  }

  a:hover {
    box-shadow: $box-shadow-inset;
  }
}

input[type="text"] {
  margin: 10px 0px;
  padding: 0px 0px 0px 30px;
  height: 60px;
  width: 90%;
  outline: none;
  border: none;
  background: transparent;
  box-shadow: inset 6px 6px 12px #d2dae3, inset -6px -6px 12px #fcffff;
  border-radius: 25px;
}
